body{
   margin-top: 70px;
}

.search-form{
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 40px;
   padding: 15px;
   background-color: #117711;
}

.more{
   display: none;
   margin: 15px auto;
}

.pgnum{
   position: absolute;
   top: 0;
   right: 0;
   padding: 15px;
}